

.BOX-general{
  display:flex;


  width: 600px;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 1em 20px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);

}

.BOX-container{
  display : flex;
  gap: 1em ;
  width : 100% ;
  flex-direction: column;
}

.BOX-container input {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 8px;

}
.button-group{
  gap: 5em ;
  justify-content: center;
  display: flex ;
  justify-content: center;


}

.button-group button {
  padding: 0.6em;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.button-group button:hover {
  background-color: #0056b3;
}

.Connexion{
  border: none;
  border-radius: 8px;

  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.Connexion button{
   padding: 0.6em;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.Connexion Connexion:hover {
  background-color: #0056b3;
}

.Container-Box{
   display:flex;
   width:600px;
   justify-content: center;
   box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
   background-color: #f1f1f1;
}
.Box{
  display:flex;
  flex-direction: column;
}


