.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.modele {
    max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #77bcdd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
}

img {
            width: 100%;
            border-radius: 10px;
        }